main {
  height: calc(100vh - 136px);
  color: rgba(16, 49, 11, 1);
  padding: 0 36px 0 36px;
}

.preferences__title {
  font-size: 28px;
}

.preferences__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preferences__portion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.preferences__portion-control {
  display: flex;
  gap: 8px;
  align-items: center;
}

.preferences__label {
  font-size: 20px;
}

.preferences__portion-unit {
  font-size: 20px;
}

.preferences__portion-display {
  background-color: rgba(57, 96, 57, 0.2);
  padding: 5px 1px 5px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 20px;
}

.preferences__portion-btn {
  cursor: pointer;
}

.preferences__portion-group {
  display: flex;
  gap: 120px;
  margin-top: 90px;
}

.preferences__categories {
  background-color: rgba(57, 96, 57, 0.2);
  width: 721px;
  height: 412px;
  border-radius: 20px;
  padding: 32px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.preferences__options {
  display: flex;
  gap: 20px;
}

.preferences__option {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  cursor: pointer;
}

.preferences__category-header {
  display: flex;
  gap: 8px;
}

.preferences__category-title {
  font-size: 24px;
}

.preferences__option-box {
  background-color: rgba(250, 240, 230, 1);
  border-radius: 30px;
  padding: 6px 12px 6px 12px;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(250, 224, 198, 1);
  }
}

.preferences__option-desc {
  font-size: 14px;
  text-align: center;
}

.preferences__category {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn {
  width: 200px;
  height: 60px;
  background-color: rgba(57, 96, 57, 1);
  color: rgba(250, 240, 230, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.btn:hover {
  background-color: rgba(5, 94, 5, 1);
  color: rgba(255, 255, 255, 1);
}

.btn:not(.btn--disabled):hover {
  background-color: rgba(5, 94, 5, 1);
  color: rgba(255, 255, 255, 1);
}

.btn--disabled {
  background-color: rgba(57, 96, 57, 0.4);
  color: rgba(250, 240, 230, 0.7);
  cursor: default;
  pointer-events: none;
}

.preferences__option-box--active {
  background-color: rgba(250, 224, 198, 1);
}

.preferences-cta {
  display: flex;
  margin-top: 40px;
}

.preferences__back-link {
  display: flex;
  gap: 4px;
  color: rgba(30, 85, 21, 1);
}

@media (max-width: 750px) {
  .preferences__title {
    font-size: 24px;
  }

  .preferences-title-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .preferences__portion-group {
    gap: 16px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .preferences__label {
    font-size: 18px;
  }

  .preferences__portion-unit {
    font-size: 16px;
  }

  .preferences__category-title {
    font-size: 20px;
  }

  .preferences__option {
    font-size: 16px;
  }

  .preferences__category {
    gap: 16px;
  }

  .preferences__categories {
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    height: 100%;
  }

  .btn {
    width: 180px;
    height: 50px;
    font-size: 20px;
  }

  .preferences__back-text {
    display: none;
  }

  .preferences__back-link {
    position: absolute;
    left: 55px;
    top: 100px;
  }

  main {
    padding: 32px 36px 36px;
  }
}

@media (max-width: 650px) {
  .preferences__options {
    flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .preferences__back-link {
    left: 20px;
    top: 55px;
  }

  main {
    height: 100%;
    padding: 32px 20px 36px;
  }
}