header {
    background-color: rgb(57,96,57);
    height: 136px;
    padding: 40px 40px 32px;
}

@media (min-width: 320px) {
    header {
        padding: 10px 10px;
        height: 0;
    }

    header img {
        width: 95px;
        height: 32px;
    }
  }