<app-header-primary></app-header-primary>

<main>
  <section id="hero" class="hero" aria-labelledby="hero-title">
      <header class="hero__header">
        <span class="hero__subtitle">AI-Powered recipe generator</span>
        <h1 id="hero-title" class="hero__title">Code à Cuisine</h1>
      </header>
  
      <p class="hero__cta">
        <a routerLink="/generate-recipe" class="btn" role="button">Get started</a>
      </p>
  
      <aside class="hero__secondary" aria-label="Secondary action">
        <span class="hero__prompt">Hungry for inspiration?</span>
        <div class="hero__link-section">
          <a routerLink="/cookbook" class="hero__link">
            Go to cookbook
            <img src="./assets/hero/arraow-creme-left.svg" alt="" class="hero__arrow" />
          </a>
        </div>
      </aside>
  </section>
</main>
