main {
    background-color: rgb(57,96,57);
    height: calc(100vh - 136px);
    color: rgba(250, 240, 230, 1);
    padding: 0 0 36px 36px;
}

.hero__header {
    padding-top: 100px;
}

.hero__subtitle {
    font-size: 62px;
}

.hero__title {
    font-size: 140px
}

.hero__cta {
    padding-top: 50px;
}

.btn {
    width: 183px;
    height: 60px;
    background-color: rgba(250, 240, 230, 1);
    color: rgb(57,96,57);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.btn:hover {
    font-weight: bold;
    background-color: rgba(250, 224, 198, 1);
}

.hero__secondary {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-top: 250px;
}

.hero__prompt {
    font-size: 32px;
}

.hero__link {
    font-size: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 5px;
}

.hero__link-section {
    width: 197px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hero__link-section:hover {
    background-color: rgba(250, 224, 198, 0.2);
}
.hero__arrow {
     width: 30px;
     height: 24px;
     transform: scaleX(-1);
}
 
  .hero__art {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;             
    height: 100%;
    background-image: url('/assets/hero/dishes.svg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: right center; 
    pointer-events: none;     
    margin-right: 100px;
  }